/target/

*.swp
*.swo
*~
.DS_Store
.idea/
.vscode/
snapdog.toml
state.json
*.log
.env.test

# WebUI
webui/out/
webui/node_modules/
webui/.next/
snapdog.dev.toml
snapcast-state.json
.cargo/

# OpenKNXproducer
tools/
knx/*.knxprod
knx/*.xml
knx/*.debug.xml
include/eq.json
